/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .container1_left {
    float: left;
    width: 100%;
    padding-bottom: 40px;
  }

}

/* スマホ向けレイアウト */
@media (max-width: 670px) {
  .container {
    width: 100%;
  }

}
