*{
    box-sizing: border-box;
  }

/*基本設定*/
body{
background:#E6E6E4;
color: #404040;
}

h1 {
color: #E46145;
font-size: 20px;
margin-top: 40px;
}

p {
font-size: 12px;
color: #404040;
}

.list li {
font-size: 10px;
color: #404040;
}

/*リンク下線をなくす*/
a.link {
  text-decoration: none;
  color: #404040;
}


/*コンテンツ配置*/
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10%;
}


.container1_left {
    width: 40%;
}

.container_right {
    width: 60%;
    display: flex;
    flex-directioin: column;
    gap: 20px;
}


.box {
    display: flex;
    align-items: flex-start; /* ← stretchを防ぐ */
    margin-top: 30px;
}


/*画像の設定*/
.img_icon {
    width:  50px;
    height: auto; /*高さを画像の比率に合わせる*/
    margin-right: 30px;
    opacity: 70%;
    display: block; /* ← inlineの影響を防ぐ */
}


.img_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.img_group .img_icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.img_group .img_caption {
    font-size: 12px;
    color: #404040;
    margin-top: 10px;
}


.categoly {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background:#F6F1E3;
    border-radius:100%;
    margin-right: 30px;
}

.categoly:hover {
    background-color: #E46145;
    transition: all 1s;
}



.hr1 {
    position: relative;
      height: 2px;
      border-width: 0;
      background-image: linear-gradient( 135deg, #E46145 20%, #3ed6db 100%);
      margin-right: 30px;
  }


/*流体*/
.fluid {
  width:20vh;/*横幅*/
  height: 20vh;/*縦幅*/
  background:linear-gradient( 135deg, #E46145 20%, #3ed6db 100%);;/*背景色*/
  animation: fluidrotate 40s ease 0s infinite;/*アニメーションの設定*/
}

@keyframes fluidrotate { 
0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 70% 30% 70% 30% / 30% 75% 25% 70% ;
}
28% {
    border-radius: 70% 30% 49% 51% / 53% 75% 25% 47% ;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 70% 30% 70% 30%/30% 75% 25% 70%;
}
}


footer {
    padding-top: 30px;
    padding-bottom: 20px;
}
